<ul class="navbar-nav text-uppercase ml-auto d-flex flex-row">
  <li class="nav-item" style="margin-right: 40px;">
    <a class="nav-link" href="/admin">ADMIN</a>
  </li>
  <li class="nav-item" style="margin-right: 40px;">
    <a class="nav-link" href="/admin/categories">CATEGORIES</a>
  </li>
</ul>