<!-- Categories -->
<div class="widget">
  <h3 class="mb-3">Categories</h3>
  <ul class="list-group list-group-flush">
    {{#each categories}}
      <a href="/posts/category/{{_id}}">
        <li
          class="list-group-item d-flex justify-content-between align-items-center numberOfCategories"
        >
          {{categoryName}}
          <span
            class="badge rounded-pill"
            style="font-size: 13px; font-weight: bolder; color: white; background: #a77c0e;"
          >{{number_of_category}}</span>
        </li>
      </a>
    {{/each}}
  </ul>
</div>